.h3fortheheadofcoolio{
    background-color: azure;
    border:black 10px solid;
    border-radius: 30px;
}

.loo0kingornor{
    background-color: cadetblue;
    border:chocolate 10px solid;
}

.superdivdududuududu{
    background-color: cyan;
    border:darkblue solid 10px;
}

canvas{
    border:red solid 5px;
    margin-top: 75px;
}